


/******************
      HEADER
*******************/









@media only screen and (max-width: 800px){
    /*HEADER MOBILE*/




.open-menu , .close-menu {
    position: absolute;
    color: var(--colorWhite);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}




.menu {
    padding-right: 50px;
    display: flex;
    align-items: center;
}
    #check {
        visibility: hidden;
    }
    body>header
    {
        height: 80px;
    }

    .menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 100%;
        z-index: 2;
        background-color: var(--colorLightBlack);
        transition: all 0.2s ease-in-out;
        
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .open-menu{
        display: block;
        margin-right: 25px;
    }
    .close-menu {
        display: block;
        margin-right: 30px;
        margin-top: -10px;
        z-index: 900;
    }
    #check:checked ~ .menu {
        right: 0;
    }

    
    


}