@font-face {
    font-family: 'Variable';
    src: format('Variable'),
        url('../images/LMDS_MemoGraphique/Variable/Variable.otf') format('opentype');
}
@font-face {
    font-family: 'VariableBlack';
    src: format('VariableBlack'),
        url('../images/LMDS_MemoGraphique/Variable/Variable-Black.otf') format('opentype');
}
*
{
    --colorWhite: #FFFFFF;
    --colorBlue: #005473;
    --colorBlue2: #2ECDDC;
    --colorBlack: #000000;
    --colorGray: #707070;
    --colorGreen1: #79AA00; 
    --colorGreen2: #9BB634; 
    --colorGreen3: #78AA00; 
    --colorOrange1: #D7871C;
    --colorOrange2: #DE7C00;
    --fontGrasse : 'VariableBlack', Arial, Helvetica, sans-serif;
    --fontNormale : 'Variable', Arial, Helvetica, sans-serif;
    --fontSizeh1 : 3em;
    --fontSizeh2 : 2em;
    --fontSizeh3 : 1.5em;
    --fontSizeh4 : 1.3em;
    --fontSizepPC : 1.5em;
    --fontSizeptel : 1.3em;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: var(--fontNormale);
    font-size: var(--fontSizepPC);

}
h1
{
    font-size: var(--fontSizeh1);
    font-family: var(--fontGrasse);
    margin: 50px 0 0px 0;
    color: var(--colorBlue);
}
main>p
{
    margin: 50px;
}
#formulaire
{
    width: 1000px;
    border: solid 15px var(--colorBlue);
    border-radius: 5px;
    padding: 40px 30px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formulaire>div
{
    margin: 10px;
    display: flex;
    align-items: center;
}
#formulaire>div>label
{
    width: 400px;
    margin: 10px;
}
#formulaire>div>input
{
    width: 600px;
    height: 50px;
    font-size: 0.9em;
}
#formulaire>div>textarea
{
    width: 600px;
    height: 200px;
    font-size: 0.9em;
}
#formulaire>div>button
{
    height: 50px;
    width: 200px;
    margin: 0 400px 0 0;
    border-radius: 10px;
    font-size: 0.9em;
    border: solid 1px black;

}
#formulaire>button
{
    height: 50px;
    width: 200px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 0.9em;
    border: solid 1px black;
    
}
#formulaire>button:hover, #formulaire>div>button:hover
{
    background-color: #005473;
    color: #FFFFFF;
    border: solid 1px black;
}
